[submodule "CRFluxModels"]
	path = CRFluxModels
	url = https://github.com/afedynitch/CRFluxModels.git
[submodule "ParticleDataTool"]
	path = ParticleDataTool
	url = https://github.com/afedynitch/ParticleDataTool.git
[submodule "https://github.com/afedynitch/Python-NRLMSISE-00.git"]
	path = https://github.com/afedynitch/Python-NRLMSISE-00.git
	url = https://github.com/afedynitch/Python-NRLMSISE-00.git
[submodule "Python-NRLMSISE-00"]
	path = Python-NRLMSISE-00
	url = https://github.com/afedynitch/Python-NRLMSISE-00.git
