*.pyc
*.pyd
data/*
docs/_build
.vscode
examples/.ipynb*
_skbuild
*.h5
build
dist
*egg-info
.nfs*
*.ipynb_checkpoints*
*.so
MCEq/geometry/corsikaatm/libcorsikaatm.cp37-win_amd64.pyd
*.afdesign
MCEq/data/GSF_spline_20171007.pkl.bz2
.venv_*
