# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
# Standard hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
    args: ["--allow-multiple-documents"]
  - id: mixed-line-ending
  - id: sort-simple-yaml
  - id: file-contents-sorter

# Python formatting
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

# # Enable the following later
# # Python docstring formatting
# - repo: https://github.com/pycqa/pydocstyle
#   rev: 6.1.1
#   hooks:
#   - id: pydocstyle
#     files: impy/[^_].*\.py

# Python linter (Flake8)
- repo: https://github.com/pycqa/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    files: MCEq/[^_].*\.py
    args: [--config, setup.cfg]

# # CMake formatting
# - repo: https://github.com/cheshirekow/cmake-format-precommit
#   rev: v0.6.13
#   hooks:
#   - id: cmake-format
#     additional_dependencies: [pyyaml]
#     types: [file]
#     files: (\.cmake|CMakeLists.txt)(.in)?$